#root {
  margin: 0;
  text-align: center;
  width: 100%;
  color: rgb(1, 1, 66);
}
/* General styling for podcast list */
.podcasts-container {
  margin: 0;
  text-align: center;
  padding: 0 20px;
}
/*styling for the podcast card*/
.podcasts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap:5px;
  margin-top: 20px;
  padding: 20px;
}

/*styling to show the card is clickable with a pointer*/
.podcast-card {
  position: relative;
  cursor: pointer;
  max-width: 250px;
  height: 250px;
  width: 100%;
  perspective: 1000px;
}

/* This container holds both the front and back sides */
.podcast-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Ensures both sides are rendered in 3D space */
  transform-style: preserve-3d; 
  transition: transform 0.6s;
}

/*styling for the podcast image*/
.podcast-image-container {
   /* Hide the back of the image */
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-image {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.podcast-info {
   /* Hide the back of the info */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* Background color for info */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
   /* Initially hide the info */
  opacity: 0;
  /* Rotate it so it's initially hidden */
  transform: rotateY(180deg);
}

/* Hover effect: Flip to show the info */
.podcast-card:hover .podcast-card-inner {
  /* Flip the card */
  transform: rotateY(180deg); 
}

/* Show the podcast info when hovered */
.podcast-card:hover .podcast-info {
  /* Make the info visible when hovered */
  opacity: 1; 
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:20px;
  z-index: 999; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  text-align: left;
  max-height: 80vh;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

/*general styling for the genres*/
.podcast-genres {
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap:5px;
}

/*individual styling for each genre*/
.podcast-genre {
display: inline-block;
padding: 5px 5px;
background-color: #f0f0f0;
border: 1px solid #ccc;
border-radius: 8px;
color: rgb(1, 1, 66);
font-size: medium;
text-align: center;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
gap: 10px;
}

.podcast-genre:hover {
  background-color:#0073e6;
  color: white;
  border-color: #005bb5;
}

h2 {
  font-size:xx-large;
  color: rgb(1, 1, 66);
}

h3 {
  font-size:x-large;
  color: rgb(1, 1, 66);
}

/*disable body scrolling when the modal is open*/
body.modal-open {
  overflow: hidden;
}

/*Style audio player to be on the bottom of the screen and always on top*/
.audio-player {
  position: fixed;
  /* Stick to the bottom of the viewport */
  bottom: 0; 
  /* Center horizontally */
  left: 50%; 
  transform: translateX(-50%);
  /* Full width of the screen */
  width: 100%; 
  /* Max width to avoid stretching too far */
  max-width: 600px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Ensure it's on top of other content */
  z-index: 1000; 
  box-sizing: border-box;
}

.episode-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.episode-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}

/*Pointer on episode title*/
.episode-title {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: larger;
}

.play-button {
  padding: 5px 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #005bb5;
}

.episode-description-container {
  margin-top: 10px;
  width: 100%;
}

.episode-description {
  margin-top: 5px;
  color: #555;
  margin-left: 20px;
  display: block;
}

.modal-overlay .modal-content {
  overflow-y: auto;
}

.season-select-container {
  display: flex;
  flex-direction: column;
}

.season-select {
  padding: 10px;
  max-height: 10px;
}

.season-image-container {
  margin-top: 10px;
  text-align: center;
}

.season-image {
  max-width: 150px;
  height: auto;
}

.loading {
  display: flex;
  color: rgb(1, 1, 66);
  display: center;
  font-size: xx-large;
  font-weight: bolder;
}

.genre-buttons {
margin-top: 10px;
display:flex;
justify-content: center;
gap: 10px;
margin-top: 100px;
}

.genre-button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
}

.genre-button:hover {
  background-color: #005bb5;
}

.genre-button.active {
  background-color: #00b527;
}

.search-input {
  padding: 15px;
  font-size:large;
  border: 1px solid #005bb5;
  border-radius: 4px;
  width: 500px;
  margin-right: 5px;
}

.sort-dropdown {
  padding: 15px;
  font-size:large;
  border: 1px solid #005bb5;
  border-radius: 4px;
  width: auto;
}


.navbar-container {
  background-color: #0073e6;
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position:fixed;
  padding:10px 20px;
  top:0;
  left:0;
  right:0;
  z-index: 998; 
}

.navbar-title {
  font-size:xx-large;
  color: white;
  font-weight: bold;
}


.favourite-button {
  background-color: white;
  font-size: large;
  color: #005bb5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.favourite-button:hover {
  background-color: #005bb5;
  color: white;
}
